@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Red Hat Display Medium';
    src: url('./assets/fonts/RedHatDisplay-Medium.ttf');
  }

  @font-face {
    font-family: 'Red Hat Display Black';
    src: url('./assets/fonts/RedHatDisplay-Black.ttf');
  }
}

@layer base {
  .body {
    @apply text-xs;
  }
}

@layer components {
  /* Block Component */
  .block {
    @apply text-center my-10 mx-auto px-8 xs:max-w-[460px] xs:px-0 md:my-16;
  }

  .block__heading {
    @apply font-redBlack text-dark-gray text-l md:text-xl px-4 md:px-14;
  }

  .block__description {
    @apply text-gray my-6 md:text-s;
  }

  /* Button Component */
  .btn {
    @apply font-redBlack m-2 py-4 px-9 border-none rounded-full whitespace-nowrap cursor-pointer;
  }

  .btn--primary {
    @apply bg-blue text-white;
  }

  .btn--primary:hover {
    @apply bg-hover-blue;
  }

  .btn__p-version {
    @apply text-light-blue;
  }

  .btn--secondary {
    @apply bg-purple text-white;
  }

  .btn--secondary:hover {
    @apply bg-hover-purple;
  }

  .btn_s-version {
    @apply text-light-purple;
  }
}
