@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Red Hat Display Medium';
    src: url('./assets/fonts/RedHatDisplay-Medium.ttf');
  }

  @font-face {
    font-family: 'Red Hat Display Black';
    src: url('./assets/fonts/RedHatDisplay-Black.ttf');
  }
}

@layer base {
  .body {
    @apply text-xs;
  }
}

@layer components {
  /* Block Component */
  .block {
    @apply text-center my-10 mx-auto px-8 max-w-[460px] xs:px-0 md:my-16 xl:mx-auto xl:max-w-[540px] xl:my-5;
  }

  .block__heading {
    @apply font-redBlack text-dark-gray;
  }

  .block__description {
    @apply my-6 font-redMedium text-gray md:text-s xl:my-8;
  }

  .block__tagline {
    @apply font-redBlack mt-16 mb-4 text-xs uppercase font-bold text-blue tracking-[3px];
  }

  /* Button Component */
  .btn {
    @apply py-4 m-2 border-none rounded-full cursor-pointer font-redBlack px-9 whitespace-nowrap;
  }

  .btn--primary {
    @apply text-white bg-blue;
  }

  .btn--primary:hover {
    @apply bg-hover-blue;
  }

  .btn__p-version {
    @apply text-light-blue;
  }

  .btn--secondary {
    @apply text-white bg-purple;
  }

  .btn--secondary:hover {
    @apply bg-hover-purple;
  }

  .btn__s-version {
    @apply text-light-purple;
  }
}

@layer utilities {
  .pageBottom {
    margin-top: 10rem;
    margin-bottom: -1.8rem !important;
  }
}
